:root {
    

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-align: end;
}

ul li {
    display: inline-block;
    padding: 5px;
}

main {
    background-color: rgb(244, 244, 244);
}

.Header {
    display: flex;
    background-color: lightslategrey;
    padding: 8px;
    text-align: end;
    border-bottom: 4px solid blue;
}

.Project-Box {
    display: flex;
    
}


#Name {
    font-size:xx-large;
    text-align: left;
    font-style: bolder;
}


footer {
    background-color: lightslategrey;
    display: flex;
    justify-content: center;


}


/* @media screen and (max-width: 992px) {
    header {

    }
    
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
      
    }
}

@media screen and (max-width: 576px) {
    .sample-img {
      
    }
} */